* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #06121e !important;
  color: #fff !important;
}

ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
button,
input {
  outline: none;
}
iframe {
  overflow: hidden;
}
/* Heading */
.header .navbar {
  transition: all 0.5s;
  padding: 0;
}
.header .headerColor-scroll {
  background-color: rgba(51, 10, 103, 0.93);
}

.header .navbar-brand {
  font-weight: 700;
  font-size: 30px;
  color: rgb(221, 62, 41);
}
.header .navbar-toggler-icon {
  color: #ffff;
}
.header .nav-item {
  padding: 8px;
}
.header .nav-item:hover,
.header .nav-item.active {
  background-color: #102c48;
}
.header .nav-item.active .nav-link,
.header .nav-item:hover .nav-link {
  color: #428bca;
}
.header .nav-link {
  font-weight: 400;
  color: #fff;
  padding-right: 0.5rem !important;
  padding-left: 0 !important;
}

/* filter-film */
.listType-header {
  border-bottom: 1px solid #1b3c5d;
  padding-bottom: 0.2em;
  margin-bottom: 0.5em;
  margin-top: 2em;
}
.listType-header h3 {
  color: #b1a21e;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #1a1a1a;
  text-transform: uppercase;
}
.filter-film {
  margin-top: 80px;
  padding: 20px;
  background-color: rgba(14, 39, 64, 0.45);
}
.name-type {
  margin-top: 60px;
  margin-bottom: -70px;
}
.data-film {
  cursor: pointer;
}
.card p {
  color: rgba(255, 255, 255, 0.7);
}
.name-type--detail {
  margin-top: 300px;
}
.listType-film .card,
.list-filmFound .card,
.list-filmType .card,
.full-film .card,
.connection .card {
  background: transparent;
  border: none;
  overflow: hidden;
  transition: all 0.5s;
}
.listType-film .card:hover,
.list-filmFound .card:hover,
.list-filmType .card:hover,
.full-film .card:hover,
.connection .card:hover {
  transform: scale(1.1);
}
.card img {
  width: 255px;
  height: 381px;
  object-fit: cover;
}
.card-body h5 {
  color: #fff;
}
.card-body span {
  color: #7a7a7a;
}
/* Contact */
footer {
  padding: 40px 0;
}
.contact ul li {
  font-size: 20px;
}
.contact ul li a {
  color: #fff;
}
.contact ul li a:hover {
  color: rgba(255, 255, 255, 0.7);
}
.copyright span {
  font-size: 20px;
  padding: 20px 0;
}

/* overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(2, 13, 24, 0.75);
}

/* FIlm details */
.film-details {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 120px;
}

.filmCurrent-detail {
  width: 255px;
  height: 325.22px;
  object-fit: cover;
}
.author-name {
  color: rgba(255, 255, 255, 0.7);
}
.film-video {
  width: 100%;
  height: 600px;
  margin-top: 60px;
}

/* Pagination */
.pagination li a {
  border: 1px solid #ffff;
  color: #fff;
}
